@tailwind base;
@tailwind components;
@tailwind utilities;

/* Опционально — стили для светлой и тёмной темы */
html.light {
  --bg-color: white;
  --text-color: black;
}

html.dark {
  --bg-color: #121212;
  --text-color: #e0e0e0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
